.map-container {
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: 20px;
}

/* Size of Map */
#my-map {
    width: 100%;
    height: 500px;
    margin: 50px auto;
    border: 2px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

/* Style search container */
.map-search-container {
    position: absolute;
    font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.8);
    top: 5px;
    left: 10;
    padding: 10px;
    border-radius: 8px;
    overflow: visible;
}

.geocoder {
    position: relative;
    margin: 10px 0;
}

/* Adjust headings styles */
h1 {
    color: turquoise;
}

h2 {
    color: purple;
}

h6 {
    color: orange;
}

/* Styling body text */
body {
    background-color: black;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: green;
    margin: 10px;
    padding: 0;

}

/* Styling Legend */
.legend {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    bottom: 15px;
    right: 1px;
    margin: 10px 10px 10px 0;
    /*top margin, right margin, bottom margin, left margin*/
    padding: 8px;
    border-radius: 2px;
    max-width: 140px;
    z-index: 1000;
}

.legend span {
    display: inline-block;
    border-radius: 50%;
    /*curve border to make a circle*/
    height: 10px;
    /*size of circle*/
    width: 10px;
    margin-right: 5px;
    /*position of circle*/
}

/* Add colour to each child div in legend */
.legend div:nth-child(2) span {
    background-color: green;
}

.legend div:nth-child(3) span {
    background-color: turquoise;
}

.legend div:nth-child(4) span {
    background-color: purple;
}

/* Navbar */
.navbar {
    background-color: rgba(0, 128, 0, 0.23) !important;
}

/* Styling navbar */
.navbar-brand,
.nav-link {
    color: orange;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 15px;
}

/* Style the toggle button */
#toggle-subway {
    position: absolute;
    top: 110px;
    left: 10px;
    background-color: teal;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    z-index: 1000;
}